<div>
  <h5>Input page</h5>
  <div class="input-group">
    <label for="colorSelect">Color</label>
    <select id="colorSelect" [(ngModel)]="selectedColor" [disabled]=inProgress>
      <option *ngFor="let key of cellTypeKeys" [value]="key" [label]="cellTypes[key]">{{cellTypes[key]}}</option>
    </select>
  </div>
  <div>
    <div class="input-group"><label for="gridWidth">Width:</label><input [disabled]=inProgress id="gridWidth" type="number" [(ngModel)]="grid.width" (ngModelChange)="generateGrid($event)"></div>
    <div class="input-group"><label for="gridHeight">Height:</label><input [disabled]=inProgress type="number" id="gridHeight" [(ngModel)]="grid.height" (ngModelChange)="generateGrid($event)"></div>
  </div>
  <div class="matrix">
    <div class="matrix-line">
      <div class="grid-cell vertical"></div>
      <div class="grid-cell" *ngFor="let cell of cells[0];let i = index">
        {{i}}
      </div>
    </div>
    <div class="matrix-line" *ngFor="let line of cells; let i = index">
      <div class="grid-cell vertical">{{i}}</div>
      <mtb-cell *ngFor="let cell of line" [cellType]="cell.cellType" (click)="cell.cellType = selectedColor"></mtb-cell>
    </div>
  </div>
  <div>
    <div><button (click)="generateGrid()" [disabled]=inProgress>Clear</button></div>
    <div>
      <label for="steps">Number of steps:</label>
      <input [disabled]=inProgress type="number" id="steps" [(ngModel)]="steps">
      <button [disabled]=inProgress (click)="findSolution()">FIND SOLUTION</button>
    </div>
  </div>
  <div>
    <span *ngIf="inProgress">Finding solution...</span>

    <div *ngIf="!inProgress && solution" >
      <div class="solution-div">
        <mtb-step *ngFor="let step of solution" [step]="step"></mtb-step>
      </div>
    </div>
    <div *ngIf="!inProgress && !solution ">
      No solution!
    </div>
  </div>
</div>
