div {
  width: 50px;
  height: 50px;
  margin: 1px;
  display: flex;
}

.void {
  background: gainsboro;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}

.brown{
  background: saddlebrown;
}
.steel{
  background: lightsteelblue;
}
.black{
  background: black;
}





